menu "LisM Trackball RPC"

config TRACKBALL_RPC
    bool "Enable LisM trackball live-settings BLE RPC service"
    depends on BT_PERIPHERAL
    select SETTINGS
    default n

config TRACKBALL_RPC_AML_MAX_ACTION_EVENTS
    int "Max queued automatic-mouse-layer state-change actions"
    depends on TRACKBALL_RPC
    default 4

endmenu
